*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}


nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0px 20px;
}

ul {
    display: flex ;
    gap: 50px;
}

li {
  list-style-type: none;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-weight: bold;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    padding: 10px 15px;
    background-color: #292930;
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5858ca;
    
 transition: all 0.5s ease;
}

.hidden {
    display: none;
    font-size: 24px;
}

@media screen and (max-width:768px){
    .hidden {
        display: block;
    }
    h2 {
        display: none;
    } 
    ul {
        display: none;
    }

    
}

.toggleNav > ul {
    display: flex ;
    flex-direction: column;
    background-color: #292930;
    padding: 0px 20px;
    gap: 20px;
    color: white;
    
}

#btnBox {
    display: flex;
    gap: 10px;
}